html {
  font-family: Raleway, sans-serif;
  font-size: 14px;
}

body {
  margin: 0;
  padding: 0;
  font-family: Raleway, sans-serif;
  font-size: 14px;
}

p {
  font-weight: 300;
  line-height: 1.7;
}

h3 {
  font-size: 24px;
  font-weight: bold;
}

h4 {
  font-size: 18px;
  font-weight: bold;
}

h5 {
  font-size: 14px;
  font-weight: bold;
}

small {
  font-size: 12px;
}

:global .font-size-lg {
  font-size: 24px;
}

:global .font-pt {
  font-family: 'PT Sans', sans-serif;
}

:global .font-raleway {
  font-family: Raleway, sans-serif;
}

:global .separator {
  border-bottom: 1px solid #c9c9c9;
}

:global .line-height-12 {
  line-height: 1.2;
}

:global .line-height-17 {
  line-height: 1.7;
}

:global .flex-1 {
  flex: 1;
}

:global .hero-page-img {
  height: 320px;

}

:global .text-primary {
  color: #29b6f6 !important;
}

:global a,
:global a:hover,
:global a:focus {
  color: #29b6f6;
}

:global .bg-white {
  background: rgba(255,255,255,0.85); /* TODO only for location */
}