@import url('./bootstrap.min.css');
@import url('./rodal.css');
@import url('./line-icons.css');
@import url('./temp.css');

/*
 * Add any global styles here
 */
* {
  box-sizing: border-box;
}

.app {
  composes: box from './common/layout.css';

  font-weight: normal;
  font-smoothing: antialiased;
}

.social-buttons {
  margin-top: 50px;
}

.share-button {
  cursor: pointer;
  margin-right: 10px;
}

.markdown-block h1 {
  font-size: 24px;
}
.markdown-block h2 {
  font-size: 22px;
}
.markdown-block h3 {
  font-size: 20px;
}
.markdown-block h4 {
  font-size: 18px;
}
.markdown-block h5 {
  font-size: 16px;
}
.markdown-block h6 {
  font-size: 14px;
}

.markdown-block img {
  max-width: 200px;
}

.markdown-block ul {
   list-style-type: disc;
   list-style-position: inside;
}
.markdown-block ol {
   list-style-type: decimal;
   list-style-position: inside;
}
.markdown-block ul ul, .markdown-block ol ul {
   list-style-type: circle;
   list-style-position: inside;
   margin-left: 15px;
}
.markdown-block ol ol, .markdown-block ul ol {
   list-style-type: lower-latin;
   list-style-position: inside;
   margin-left: 15px;
}
