@import url('./bootstrap.min.css');
@import url('./rodal.css');
@import url('./line-icons.css');
@import url('./temp.css');

/*
 * Add any global styles here
 */
* {
  box-sizing: border-box;
}

.app {
  composes: box from './common/layout.css';

  font-weight: normal;
  font-smoothing: antialiased;
}

.social-buttons {
  margin-top: 50px;
}

.share-button {
  cursor: pointer;
  margin-right: 10px;
}

.markdown-block h1 {
  font-size: 24px;
}
.markdown-block h2 {
  font-size: 22px;
}
.markdown-block h3 {
  font-size: 20px;
}
.markdown-block h4 {
  font-size: 18px;
}
.markdown-block h5 {
  font-size: 16px;
}
.markdown-block h6 {
  font-size: 14px;
}

.markdown-block img {
  max-width: 200px;
}

.markdown-block ul {
   list-style-type: disc;
   list-style-position: inside;
}
.markdown-block ol {
   list-style-type: decimal;
   list-style-position: inside;
}
.markdown-block ul ul, .markdown-block ol ul {
   list-style-type: circle;
   list-style-position: inside;
   margin-left: 15px;
}
.markdown-block ol ol, .markdown-block ul ol {
   list-style-type: lower-latin;
   list-style-position: inside;
   margin-left: 15px;
}

ul.with-bullets {
   list-style-type: disc;
   list-style-position: inside;
}

ul.with-bullets ul {
   list-style-type: circle;
   list-style-position: inside;
   margin-left: 15px;
}

.header-bg {
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center center;
}

.archived-session-header {
  filter:url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0 0 0 1 0" /></filter></svg>#filter');
  -webkit-filter:grayscale(100%);
  filter:grayscale(100%);
  opacity: 0.7;
}

.active-tag {
  background-color: #0275d8;
}

.session-tag {
  display: inline-block;
  margin: 0 15px 10px 0;
  font-size: 90%;
}

.proposal-content-container {
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;

  overflow: hidden;

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0.01+0,1+100 */
  mask: url(#textFade); /* works only in firefox */
  -webkit-mask-image: -webkit-linear-gradient(top,  rgba(255,255,255,1) 50%,rgba(255,255,255,0.01) 100%); /* Chrome10-25,Safari5.1-6 */
  mask-image: linear-gradient(to bottom,  rgba(255,255,255,1) 50%,rgba(255,255,255,0.01) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.proposal-preview-expanded .proposal-content-container {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0.01+0,1+100 */
  mask: none; /* works only in firefox */
  -webkit-mask-image: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
  mask-image: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.proposals-list-action-button .fa,
.attend-button .fa {
  margin: 0;
  padding: 0;
  font-size: 125%;
  transition: all 0.1s ease;
  -webkit-transition: all 0.1s ease;
}

.proposals-list-action-button {
  margin: 0;
  min-width: 140px;
  padding: 14px 20px 13px;
  position: relative;
  vertical-align: middle;
  display: inline-block;
  max-width: 100%;
  font-family: "PT Sans Caption", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 1;
  letter-spacing: 0.4em;
  overflow: hidden;
}

.attend-button,
.attend-button:active,
.attend-button:focus,
.proposals-list-action-button:hover,
.proposals-list-action-button:active,
.proposals-list-action-button:focus {
  text-decoration: none;
}

.proposals-list-action-button:hover {
  color: #159ac6;
}

@keyframes rotating {
  0 {
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  25% {
    -ms-transform: scale(2) rotateX(0deg);
    -moz-transform: scale(2) rotateX(0deg);
    -webkit-transform: scale(2) rotateX(0deg);
    -o-transform: scale(2) rotateX(0deg);
    transform: scale(2) rotateX(0deg);
  }
  75% {
    -ms-transform: scale(2) rotateX(360deg);
    -moz-transform: scale(2) rotateX(360deg);
    -webkit-transform: scale(2) rotateX(360deg);
    -o-transform: scale(2) rotateX(360deg);
    transform: scale(2) rotateX(360deg);
  }
  100% {
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes no {
  0 {
    -ms-transform: translateX(5px);
    -moz-transform: translateX(5px);
    -webkit-transform: translateX(5px);
    -o-transform: translateX(5px);
    transform: translateX(5px);
  }
  25% {
    -ms-transform: translateX(-10px);
    -moz-transform: translateX(-10px);
    -webkit-transform: translateX(-10px);
    -o-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  50% {
    -ms-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -webkit-transform: translateX(10px);
    -o-transform: translateX(10px);
    transform: translateX(10px);
  }
  75% {
    -ms-transform: translateX(-5px);
    -moz-transform: translateX(-5px);
    -webkit-transform: translateX(-5px);
    -o-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  100% {
    -ms-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -webkit-transform: translateX(0px);
    -o-transform: translateX(0px);
    transform: translateX(0px);
  }
}

.attend-button.attend-button-enabled .fa {
  -webkit-animation: rotating 0.5s ease;
  -moz-animation: rotating 0.5s ease;
  -ms-animation: rotating 0.5s ease;
  -o-animation: rotating 0.5s ease;
  animation: rotating 0.5s ease;
}

.attend-button.attend-button-disabled .fa {
  -webkit-animation: no 0.3s linear;
  -moz-animation: no 0.3s linear;
  -ms-animation: no 0.3s linear;
  -o-animation: no 0.3s linear;
  animation: no 0.3s linear;
}

.attend-button.attend-button-enabled,
.attend-button.attend-button-enabled .fa {
  color: #1ac6ff !important;
}

.attend-button.attend-button-disabled,
.attend-button.attend-button-disabled .fa  {
  color: #6c6c6c !important;
}

.attend-button.attend-button-disabled:hover,
.attend-button.attend-button-disabled:hover .fa  {
  color: #000 !important;
}

.recommendation img {
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}

.recommendation:hover img {
  opacity: 0.6;
}

.recommendation:hover a {
  text-decoration: none;
}

.recommendation p {
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}

.recommendation:hover p {
  color: #808080 !important;
}

.question {
  margin: 30px 0;
}

.question .q {
  font-weight: bold;
}

.favorite-session-enter {
  opacity: 0.01;
}

.favorite-session-enter.favorite-session-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.favorite-session-leave {
  opacity: 1;
}

.favorite-session-leave.favorite-session-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

@media(min-width: 992px) {
  .full-talk {
    clear: both;
    display: flex;
  }

  .full-talks-container {
    display: flex;
  }
}

@media(max-width: 767px) {
  .nav.days-nav {
    position: relative;
    box-shadow: none;
    z-index: 0;
  }

  .nav.days-nav > li {
    float: left;
    width: 50%;
  }

  .nav.days-nav > li * {
    text-align: center;
  }
}

.display-block {
  display: block;
}

header > .container {
  top: 2.5em;
  transition: top 0.3s;
}

header.fixed {
  background: rgba(255,255,255,0.95);
  box-shadow: 0 0 5px rgba(0, 0, 0, .2), 0 1px 0 rgba(255, 255, 255, .15);
  transition: background 0.3s;
}

header.fixed .container {
  top: 0;
}

header.fixed .navigation-link {
  color: #262627;
}

@media (max-width: 767px) {
  header > .container {
    top: 0;
  }
}