@import url('./bootstrap.min.css');
@import url('./rodal.css');
@import url('./line-icons.css');
@import url('./temp.css');

/*
 * Add any global styles here
 */
* {
  box-sizing: border-box;
}

.app {
  composes: box from './common/layout.css';

  font-weight: normal;
  font-smoothing: antialiased;
}

.social-buttons {
  margin-top: 50px;
}

.share-button {
  cursor: pointer;
  margin-right: 10px;
}
