.x-bg {
  background-repeat: no-repeat;
  background-size: 600px;
  background-position: 70% 133%;

  @media (max-width:991px) {
    background-position: 50% 120%;
  }
}

.text-fade {
  &:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom, rgba(255,255,255,0) 70%,rgba(255,255,255,1) 100%);
  }
}