html {
  font-family: Raleway, sans-serif;
  font-size: 14px;
}

body {
  margin: 0;
  padding: 0;
  font-family: Raleway, sans-serif;
  font-size: 14px;
}

p {
  font-weight: 300;
  line-height: 1.7;
}

h3 {
  font-size: 24px;
  font-weight: bold;
}

h4 {
  font-size: 18px;
  font-weight: bold;
}

h5 {
  font-size: 14px;
  font-weight: bold;
}

small {
  font-size: 12px;
}

label {
  display: block;
  margin-bottom: $spacer;
  letter-spacing: 0.6px;
}

input {
  display: block;
  width: 100%;
  max-width: 320px;
}

.font-size-lg {
  font-size: $font-size-lg;
}

.font-size-sm {
  font-size: $font-size-sm;
}

.font-pt {
  font-family: 'PT Sans', sans-serif;
}

.font-raleway {
  font-family: Raleway, sans-serif;
}

.separator {
  border-bottom: 1px solid #c9c9c9;
}

.line-height-12 {
  line-height: 1.2;
}

.line-height-17 {
  line-height: 1.7;
}

.flex-1 {
  flex: 1;
}

.hero-page-img {
  height: 320px;

}

.bg-gray-900 {
  a,
  a:hover,
  a:focus {
    color: $info;
  }
}

.bg-white {
  background: rgba(255,255,255,0.85); /* TODO only for location */
}

a.unstyled-link,
a.unstyled-link:hover,
a.unstyled-link:focus,
a.unstyled-link:active {
  color: inherit;
  text-decoration: none;
}

.text-underline {
  text-decoration: underline;
}

.cursor-pointer {
  cursor: pointer;
}