@import 'variables';

@font-face {
  font-family: Amstelvar;
  src: url('./Amstelvar-Roman-VF.ttf');
}

body {
  margin: 0;
  padding: 0;
  font-family: Montserrat, sans-serif;
  background: $darkblue;
  color: white;
}

a {
  color: $teal;

  &:hover {
    color: $cyan;
    text-decoration: none;
  }
}

p {
  line-height: 1.7;
  border-bottom: 20px;
}

b {
  font-weight: 500;
}

h1 {
  font-weight: 800;
  font-size: 78px;
  letter-spacing: 6px;
}

h2 {
  font-size: 64px;
  font-weight: 800;
}

h3 {
  font-size: 28px;
  font-weight: 400;
}

h4 {
  font-size: 18px;
  font-weight: bold;
}

h5 {
  font-weight: bold;
  font-size: 16px;
}

h6 {
  font-size: 14px;
  font-weight: bold;
}

small {
  font-size: 12px;
}

label {
  display: block;
  margin-bottom: $spacer;
  letter-spacing: 0.6px;
}

input {
  display: block;
  width: 100%;
  max-width: 320px;
}

input[type='radio'],
input[type='checkbox'] {
  display: inline-block;
  width: auto;
  margin-right: 10px;

  & + label {
    display: inline-block;
  }
}


.font-size-xl {
  font-size: $font-size-xl;
}

.font-size-lg {
  font-size: $font-size-lg;
}

.font-size-sm {
  font-size: $font-size-sm;
}

.font-size-md {
  font-size: $font-size-md;
}

@media (min-width:991px) {
  .font-size-lg-md {
    font-size: $font-size-md !important;
  }
}

.font-weight-heavy {
  font-weight: 500;
}

.font-weight-light {
  font-weight: 300;
}

.font-pt {
  font-family: 'PT Sans', sans-serif;
}

.font-amstelvar {
  font-family: Amstelvar, serif;
}

.font-raleway {
  font-family: Raleway, sans-serif;
}

.font-mono {
  font-family: 'Roboto Mono', monospace;
}

.separator {
  border-bottom: 1px solid #c9c9c9;
}

.line-height-1 {
  line-height: 1;
}

.line-height-12 {
  line-height: 1.2;
}

.line-height-17 {
  line-height: 1.7;
}

.flex-1 {
  flex: 1;
}

.hero-page-img {
  height: 320px;
  background-size: cover;

  @media (max-width: 576px) {
    height: 120px;
  }
}

.bg-gray-900 {
  a,
  a:hover,
  a:focus {
    color: $info;
  }
}

.bg-white {
  background: rgba(255,255,255,0.85); /* TODO only for location */
}

a.unstyled-link,
a.unstyled-link:hover,
a.unstyled-link:focus,
a.unstyled-link:active {
  color: inherit;
  text-decoration: none;
}

.text-underline {
  text-decoration: underline;
}

.cursor-pointer {
  cursor: pointer;
}

.opacity-05 {
  opacity: 0.5;
}

.border-radius {
  border-radius: $border-radius;
}

.letter-spacing {
  letter-spacing: 0.4px;
}

.p-relative {
  position: relative;
}

.p-absolute {
  position: absolute;
}

.z-1 {
  z-index: 1;
}

.stretch {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}


.proposal pre code {
  white-space: pre-wrap;
}

button.btn {
  box-shadow: inset 0px 0px 10px 2px rgba(0,238,255,0.1);
  background: linear-gradient(to right, rgba(118,12,146,0.2) 0%,rgba(0,92,177,0.2) 100%);
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  letter-spacing: 1px;
  text-transform: uppercase;
  outline: none;
  border: 0;
  transition: all 200ms;
  border-radius: 0;
  height: 40px;
  padding-top: 0;
  padding-bottom: 0;

  &:hover {
    background: linear-gradient(to right, rgba(118,12,146,0.4) 0%,rgba(0,92,177,0.8) 100%);
    box-shadow: inset 0px 0px 10px 2px rgba(0,238,255,0.2), 0px 0px 10px 0px rgba(89,0,255,0.8);
  }

  &:active {
    background: linear-gradient(to right, rgba(118,12,146,0.4) 0%,rgba(0,92,177,0.8) 100%);
    box-shadow: inset 0px 0px 10px 2px rgba(0,238,255,0.2), 0px 0px 20px 0px rgba(89,0,255,1);
  }
}

.bg-emph {
  background-image: linear-gradient(#04004880, #03004880), linear-gradient(to top, #c000ff80, #00baff80);
  box-shadow: inset 0 0 49px 0 rgba(0, 240, 255, 0.4);
}

.h1-up {
  margin-top: -40px;
}

@media (max-width: 576px) {
  h1 {
    font-size: 48px;
  }

  .h1-up {
    margin-top: -24px;
  }
}


///////
.nav-link {
  &.active {
    color: #1ad6ff;
  }
}

.location-section {
  background: url('../images/venue-bg.jpg') center;
}

.sponsor-mini {
  width: 20%;

  @media (max-width:767px) {
    width: 50%;
  }
}

.speakers-section__speakers-wrapper {
  justify-content: space-between;

  @media (max-width:767px) {
    justify-content: space-around;
  }

  @media (max-width:540px) {
    justify-content: center;

    .speaker-name {
      font-size: 20px;
    }

    .speaker-oneliner {
      font-size: 18px;
      font-weight: 300;
    }
  }
}

.speaker-page__speaker-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;

  .speaker-page__speaker-image {
    flex: 0 0 200px;
    margin-left: -20px;
  }

  @media (max-width:540px) {
    flex-direction: column;
    align-items: flex-end;

    .speaker-page__speaker-image {
      flex: auto;
      margin-left: 0;

      width: 200px;
      margin-right: 20px;
      margin-top: -40px;
    }
  }
}

.footer-content {
  justify-content: space-between;

  @media (max-width:767px) {
    justify-content: center;
  }
}

.about-content {
  flex-direction: row;

  .about-content__p2 {
    margin-left: -25px;
  }

  @media (max-width:767px) {
    flex-direction: column;

    .about-content__p2 {
      margin-left: 0;
    }
  }
}

.agenda-line-spacer {
  @media (max-width:767px) {
    display: none;
  }
}

.agenda-session {
  padding: 10px 0;

  @media (max-width:767px) {
    padding: 30px 0;
  }

  .agenda-session__hall {
    flex: 0 0 120px;

    @media (max-width:767px) {
      flex: 0 0 80px;
    }
  }
}

.social-icon-link {
  font-size: 16px;
  margin-right: 20px;

  @media (max-width:767px) {
    font-size: 20px;
  }

  @media (max-width:540px) {
    font-size: 22px;
  }
}
