@import 'variables';

body {
  margin: 0;
  padding: 0;
  font-family: 'Source Code Pro', monospace;
  font-weight: 300;
}

//a {
//  color: $teal;
//
//  &:hover {
//    color: $cyan;
//    text-decoration: none;
//  }
//}

p {
  line-height: 1.7;
  border-bottom: 20px;
}

b {
  font-weight: 500;
}

h1 {
  font-weight: 800;
  font-size: 78px;
  letter-spacing: 6px;
}

h2 {
  font-size: 64px;
  font-weight: 800;
}

h3 {
  font-size: 28px;
  font-weight: 400;
}

h4 {
  font-size: 18px;
  font-weight: 600;
}

h5 {
  font-weight: 600;
  font-size: 16px;
}

h6 {
  font-size: 14px;
  font-weight: 600;
}

small {
  font-size: 12px;
}

label {
  display: block;
  margin-bottom: $spacer;
  letter-spacing: 0.6px;
}

input {
  display: block;
  width: 100%;
  max-width: 320px;
}

input[type='radio'],
input[type='checkbox'] {
  display: inline-block;
  width: auto;
  margin-right: 10px;

  & + label {
    display: inline-block;
  }
}

////// Chen's Addition ////////

.navbar-margin {
  border-top: 100px solid $purple2;
}

.white-bg {
  background: white !important;
}

////// Chen's Addition (END) ////////

.font-size-xxxl {
  font-size: $font-size-xxxl;
}

.font-size-xxl {
  font-size: $font-size-xxl;
}

.font-size-xl {
  font-size: $font-size-xl;
}

.font-size-lg {
  font-size: $font-size-lg;
}

.font-size-lm {
  font-size: $font-size-lm;
}

.font-size-md {
  font-size: $font-size-md;
}

.font-size-sm {
  font-size: $font-size-sm;
}

@media (min-width:991px) {
  .font-size-lg-md {
    font-size: $font-size-md !important;
  }
}

.font-weight-heavy {
  font-weight: 700;
}

.font-weight-bold {
  font-weight: 500;
}

.font-weight-regular {
  font-weight: 400;
}

// .font-weight-light {
//   font-weight: 300;
// }

.font-SCP {
  font-family: 'Source Code Pro';
}

.font-pt {
  font-family: 'PT Sans', sans-serif;
}

.font-amstelvar {
  font-family: Amstelvar, serif;
}

.font-raleway {
  font-family: Raleway, sans-serif;
}

.font-mono {
  font-family: 'Roboto Mono', monospace;
}

.separator {
  border-bottom: 1px solid #c9c9c9;
}

.line-height-1 {
  line-height: 1;
}

.line-height-12 {
  line-height: 1.2;
}

.line-height-15 {
  line-height: 1.5;
}

.line-height-17 {
  line-height: 1.7;
}

.flex-1 {
  flex: 1;
}

.hero-page-img {
  height: 320px;
  background-size: cover;

  @media (max-width: 576px) {
    height: 120px;
  }
}

.bg-gray-900 {
  a,
  a:hover,
  a:focus {
    color: $info;
  }
}

//.bg-white {
//  background: rgba(255,255,255,0.85); /* TODO only for location */
//}

a.unstyled-link,
a.unstyled-link:hover,
a.unstyled-link:focus,
a.unstyled-link:active {
  color: inherit;
  text-decoration: none;
}

.text-underline {
  text-decoration: underline;
}

.cursor-pointer {
  cursor: pointer;
}

.opacity-05 {
  opacity: 0.5;
}

.border-radius {
  border-radius: $border-radius;
}

.letter-spacing {
  letter-spacing: 0.4px;
}

.p-relative {
  position: relative;
}

.p-absolute {
  position: absolute;
}

.z-1 {
  z-index: 1;
}

.stretch {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.text-align-center {
  text-align: center !important;
}


.proposal pre code {
  white-space: pre-wrap;
}

@mixin styled-button($onpurple: false) {
  $bg-1: $purple2;
  $bg-2: $white;

  @if $onpurple {
    $bg-1: $white;
    $bg-2: $purple2;
  }

  font-family: 'PT Mono' !important;
  font-weight: bold !important;
  border: solid 2px $bg-1 !important;
  box-shadow: -2px 2px $bg-2, -4px 4px $bg-1 !important;

  background: right bottom linear-gradient(to right, $orange2 50%, $indigo 50%) !important;
  background-size: 205% 100% !important;
  transition: all .5s ease-out !important;

  &:hover {
    background-position: left bottom !important;
  }
}

.styled-button {
  @include styled-button();

  &.on-purple {
    @include styled-button(true);
  }
}

.styled-button-white {
  font-family: 'PT Mono' !important;
  font-weight: bold !important;
  color: $purple2 !important;
  background: $white !important;
  border-left: 2px solid $purple2 !important;
  border-bottom: 2px solid $purple2 !important;
  border-right: 2px solid $white !important;
  border-top: 2px solid $white !important;
  box-shadow: -2px 2px $white, -4px 4px $purple2 !important;
  transition: all .5s ease-out !important;

  &:hover {
    border-top: 2px solid $purple2 !important;
    border-right: 2px solid $purple2 !important;
  }


  &.orange {
    background: $orange2 !important;
    color: white !important;
  }

  &.purple {
    color: white !important;
    background: $indigo !important;
  }
}

.interested-btn {
  @include styled-button(true);
  border-color: $purple2 !important;
  box-shadow: -2px 2px $white, -4px 4px $purple2 !important;

  &.selected {
    background: $orange2 !important;
  }
}

.not-relevant-cb {
  margin-right: 20px;
  .selected {
    & > div {
      background: $purple2;
      height: 16px;
      width: 16px;
      margin: 2px;
    }
  }
}
.not-relevant-filter {
  .selected {
    & > div {
      background: $purple2;
      height: 16px;
      margin: 2px;
    }
  }
}

button.btn {
  box-shadow: inset 0px 0px 10px 2px rgba(0,238,255,0.1);
  background: linear-gradient(to right, rgba(118,12,146,0.2) 0%,rgba(0,92,177,0.2) 100%);
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  letter-spacing: 1px;
  text-transform: uppercase;
  outline: none;
  border: 0;
  transition: all 200ms;
  border-radius: 0;
  height: 40px;
  padding-top: 0;
  padding-bottom: 0;

  &:hover {
    background: linear-gradient(to right, rgba(118,12,146,0.4) 0%,rgba(0,92,177,0.8) 100%);
    box-shadow: inset 0px 0px 10px 2px rgba(0,238,255,0.2), 0px 0px 10px 0px rgba(89,0,255,0.8);
  }

  &:active {
    background: linear-gradient(to right, rgba(118,12,146,0.4) 0%,rgba(0,92,177,0.8) 100%);
    box-shadow: inset 0px 0px 10px 2px rgba(0,238,255,0.2), 0px 0px 20px 0px rgba(89,0,255,1);
  }
}

.bg-emph {
  background-image: linear-gradient(#04004880, #03004880), linear-gradient(to top, #c000ff80, #00baff80);
  box-shadow: inset 0 0 49px 0 rgba(0, 240, 255, 0.4);
}

.h1-up {
  margin-top: -40px;
}
.w-max-content {
  width: max-content;
}
.h-max-content {
  height: max-content;
}
.width-half {
  width: 50%;
  @media (max-width: 767px) {
    width: inherit;
  }
}

@media (max-width: 576px) {
  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 36px;
  }

  .h1-up {
    margin-top: -24px;
  }
}


///////

.page-single-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.page {
  flex-grow: 1;
  //background: $purple2;
  position: relative; // navbar-height
}

.justify-content-evenly {
  justify-content: space-evenly !important;
}

.hl {
  flex-grow: 1;
  height: 2px;
  align-self: center;
  margin-left: 10px;
}

.location-section {
  background: url('../images/venue-bg.jpg') center;
}

.sponsor-mini {
  width: 20%;

  @media (max-width:767px) {
    width: 50%;
  }
}

.row-margin-fix {
  @media (min-width:768px) {
    margin-left: -15px;
    margin-right: -15px;
  }
}

.speakers-section__speakers-wrapper {
  justify-content: space-between;

  @media (max-width:767px) {
    justify-content: space-around;
  }

  @media (max-width:540px) {
    justify-content: center;

    .speaker-name {
      font-size: 20px;
    }

    .speaker-oneliner {
      font-size: 18px;
      font-weight: 300;
    }
  }
}

 .speaker-page__hero {
   display: flex;
   align-items: flex-end;
   @media (max-width:991px) {
     align-items: center;
   }

   @media (max-width:768px) {
     align-items: flex-start;
     flex-direction: column;
   }
 }
$speaker-picture-size: 230px;
.speaker-page__speaker-picture {
  width: $speaker-picture-size;
  height: $speaker-picture-size;
  flex: 0 0 $speaker-picture-size;
  background-size: cover;
  top: 70px;

  @media (max-width:991px) {
    top: auto;
    margin-bottom: 25px;
  }
}

.speaker-page__placeholder {
  flex: 0 0 $speaker-picture-size;
}

.speaker-page__social-links {
  margin-left: $speaker-picture-size + 25px;

  @media (max-width:991px) {
    margin-left: 0;
  }
}

.speaker-page__session {
  flex: 0 0 calc(50% - 20px);

  @media (max-width:991px) {
    flex: 0 0 100%;
  }
}

.session-page__hero {
  padding-top: 60px;
}

.session-page__speaker {
  width: 240px;
  height: 240px;
  background-size: cover;
  border-right: 4px solid $purple2;
}

.session__speaker {
  flex: 0 0 240px;
  border-right: 4px solid $purple2;
}

.session__speaker-picture {
  width: 236px;
  height: 236px;
  background-size: cover;
}

.page__hero {
  padding-top: 100px;
}

.about-content {
  flex-direction: row;

  .about-content__p2 {
    margin-left: -25px;
  }

  @media (max-width:767px) {
    flex-direction: column;

    .about-content__p2 {
      margin-left: 0;
    }
  }
}

.agenda-line-spacer {
  @media (max-width:767px) {
    display: none;
  }
}

.agenda-session {
  padding: 10px 0;

  @media (max-width:767px) {
    padding: 30px 0;
  }

  .agenda-session__hall {
    flex: 0 0 120px;

    @media (max-width:767px) {
      flex: 0 0 80px;
    }

    @media (max-width:576px) {
      flex: 0 0 50px;
      writing-mode: vertical-rl;
      transform: rotate(180deg);
      text-align:right;
    }
  }
}

.social-icon-link {
  font-size: 40px;
}

input[type="checkbox"] {
  opacity: 0;
  position: absolute;
  pointer-events: none;

  & + label {
    margin-bottom: 0;
  }

  & + label:before {
    content: '';
    display: inline-block;
    border: 2px solid $cyan;
    border-radius: 5px;
    width: 25px;
    height: 25px;
    margin-right: 5px;
    vertical-align: middle;
    color: $cyan;
    line-height: 24px;
    text-align: center;
    font-size: 24px;
    text-indent: 1px;
    min-width: 25px;
  }

  &:checked + label:before {
    content: '✓';
  }
}

.agenda-day-filter {
  @media (min-width:768px) {
    border-right: 2px solid $cyan;
    padding-right: 40px !important;
  }
}

.agenda-hall-filter {
  @media (min-width:768px) {
    padding-left: 40px !important;
  }
}

.b-strong {
  border: 4px solid $purple2;
}

.b-regular {
  border: 2px solid $purple2;
}

.b-heavy {
  border: 2px solid $indigo;
}

.overflow-hidden {
  overflow: hidden;
}

.box-shadow-none {
  box-shadow: none;
}

.about__intro-text {
  @media (max-width:991px) {
    flex-direction: column;
  }
}

.about__team {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.about__team-member {
  flex: 0 0 calc(50% - 20px);
  height: 248px;


  @media (max-width:1200px) {
    flex: 0 0 100%;
  }

  @media (max-width:768px) {
    height: auto;
    flex-direction: column;
  }
}

.nav-link {
  color: white;
  border-bottom: 2px solid transparent;
  line-height: 15px;

  &:hover {
    color: white;
    border-bottom: 2px solid $orange2;
  }

  &.active {
    color: white;
    border-bottom: 2px solid $orange2;
  }
}

.navbar-nav > li {
  @media (max-width:991px) {
    margin: 10px 0;
  }
}

.proposals-filters {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  @media (max-width:991px) {
    flex-direction: column;

    & > div {
      &:first-child {
        margin-bottom: 15px;
      }

      width: 100%;
    }
  }
}

.session {
  @media (max-width:768px) {
    flex-direction: column-reverse;
  }
}

.session__speaker {
  &:nth-child(2) {
    margin-left: 5px;
    border-left: 4px solid $purple2;

    @media (max-width:768px) {
      margin-left: 0;
      border-left: 0;
      margin-bottom: 5px;
    }
  }

  @media (max-width:768px) {
    flex: 0 0 auto;
    background: $purple2;
  }
}

.session-page__speakers {
  display: flex;
  flex-direction: row;
  @media (max-width:1200px) {
    flex-direction: column;
  }
}

.session__speaker-picture {
  @media (max-width:768px) {
    border-top: 4px solid $purple2;
  }
}

.session__abstract {
  word-break: break-word;
}

.session-page__speaker-box {
  flex: 0 0 calc(50% - 20px);

  &:nth-child(odd) {
    margin-right: 40px;

    @media (max-width:1200px) {
      margin-right: 0;
    }
  }

  @media (max-width:1200px) {
    flex: 0 0 100%;
  }
}

.session-page__voting {
  display: flex;
  justify-content: flex-end;
}

.session-page__title {
  font-size: 48px;

  @media (max-width:768px) {
    font-size: 35px;
  }
}

.hero__right {
  background: url('../images/rs19.gif') center;
  background-size: cover;
  width: 760px;
  height: 560px;
  position: relative;

  @media (max-width:1200px) {
    background: none;
    width: auto;
    height: auto;
  }
}

.hero__timer-wrapper {
  position: absolute;
  right: 25px;
  bottom: 15px;

  @media (max-width:1200px) {
    position: relative;
    right: auto;
    bottom: auto;
  }
}

.hero__timer-title {
  font-size: 24px;
  margin-bottom: 10px;
  letter-spacing: -0.4px;
}

.countdown-number {
  font-size: 52px;
  line-height: 52px;
}

.countdown-time-txt {
  font-size: 18px;
}

.map-wrapper {
  float: right;
  position: relative;

  @media (max-width:991px) {
    float: none;
    margin-top: 40px;
  }
}

.venue-img {
  @media (max-width:991px) {
    display: none;
  }
}

.home-sponsors {
  justify-content: space-between;

  @media (max-width:991px) {
    justify-content: center;
  }
}

.sponsor-community-mini {
  flex: 0 0 20%;
  text-align: center;
  align-self: center;
}
