.speakerImg {
    height: 160px;
    width: 160px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
}

.socialLinks {
    font-size: 18px;
}

.speakerShort a {
    color: inherit;
}

.socialLinks a {
    flex: 0 0 auto;
}

.socialLinks a:not(:last-child) {
    margin-right: 60px;
}

.changeAnimation {
    transition: background-color 0.2s ease;
}