.timeCol {
    min-width: 100px;
    align-self: flex-start;
}

.muted {
    background: #f1f1f1;
}

.tall {
    font-size: 36px;
}

.small {
    font-size: 18px;
}

.igniteName {
    flex: 0 0 160px;
}

.igniteSep {
    border-bottom: 1px dotted #333;
}

.agenda a {
    text-decoration: none;
    color: inherit;
}

.speakerImg {
    width: 50px;
    height: 50px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    flex: 0 0 50px;
}