.sectionHeader {
    font-size: 1.2em;
    position: relative;
}

.sectionHeader:before {
    color: #1ac6ff;
    content: attr(data-text);
    display: block;
    font-size: 3em;
    font-weight: bold;
    opacity: 0.1;
    position: relative;
    text-transform: uppercase;
    top: 0.7em;
}

.sectionHeader:after {
    border-bottom: 3px solid #1ac6ff;
    bottom: -0.8em;
    content: '';
    display: block;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    width: 2.5em;
}