.hero {
    /*background: url('../images/rs19.gif') center;*/
    background-size: cover;
    padding-bottom: 150px;
    padding-top: 150px;
}

.heroInner {
    width: 100%;
    justify-content: space-around;
}

.subtitle {
    /*letter-spacing: 0.6px;*/
    /*font-size: 24px;*/
    /*font-weight: 200;*/
    /*text-shadow: 0 0 49px #030135;*/
    background-color: #451deb;
}

.headphones {
    background: url('../images/headphones-art.png') center;
    background-size: 100%;
    width: 797px;
    height: 818px;
}

.left {
    width: 477px;
    margin-right: -160px;
    z-index: 1;
}

.separator {
    width: 151px;
}
.heroCounterWrapper {
    background: url('../images/rs19.gif') center;
    background-size: cover;
    width: 40%;
    align-self: normal;
}

@media (max-width:991px) {
    .heroInner {
        margin-right: -80px;
    }

    .headphones {
        width: calc(797px*0.7);
        height: calc(818px*0.7);
    }

    .left {
        width: 320px;
        margin-right: -80px;
    }

    .title {
        font-size: 60px;
    }
}

.cta {
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    letter-spacing: 0.4px;
}

.autoCenter {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

@media (max-width:768px) {
    .heroInner {
        flex-direction: column-reverse;
        margin-right: 0;
    }

    .left  {
        width: auto;
        max-width: 500px;
        margin-right: 0;
    }

    .headphones {
        width: 100%;
        height: auto;
        padding-top:97.5%;
    }

    .title {
        font-size: 48px;
    }
}

@media (max-width:380px) {
    .title {
        font-size: 42px;
    }
}

.h2 {
    font-size: 24px;
    font-weight: 500;
}
