.hero {
    background: url('../images/hero-min.png') center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    color: #fff;
}

.title {
    font-size: 72px;
}

.cta {
    border: 2px solid #fff;
}

.autoCenter {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

@media (max-width:576px) {
    .title {
        font-size: 60px;
    }
}

@media (max-width:460px) {
    .title {
        font-size: 48px;
    }
}

@media (max-width:380px) {
    .title {
        font-size: 42px;
    }
}