.navLink {
    cursor: pointer;
    color: white;
    font-weight: 400;
}

.navLink:hover {
  color: #1ad6ff;
}

.navItem {
    color: white;
}

.active {
  color: #1ad6ff;
}

.logo {
    cursor: pointer;
    width: 112px;
    height: 40px;
}

.isWhite {
    background: #5127ff;
    transition: background 0.3s;
}

.newLink {
    position: relative;
}

.newTag {
    width: 39px;
    height: 27px;
    position: absolute;
    top: -3px;
    right: -10px;
}

.voteBtn {
    border: solid 2px #ffffff !important;
    box-shadow: -2px 2px #5127ff, -4px 4px white !important;
    background: right bottom linear-gradient(to right, #ff6100 50%, #896cff 50%) !important;
    background-size: 200% 100% !important;
    transition: all .5s ease-out !important;
}
.voteBtn:hover {
    background-position: left bottom !important;
}

@media (min-width: 577px) {
    .isNotHome {
        box-shadow: none;
    }
}

@media (max-width: 767px) {
    .isHome > .container {
        top: 0;
    }
}

@media (max-width: 576px) {
    .navbar:not(.isWhite) :global .navbar-collapse {
        margin-left: -20px;
        padding-left: 20px;
        margin-right: -20px;
        padding-right: 20px;
    }
}

:global .navbar-toggler-right {
    top: 20px;
}

:global .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,<svg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'><path stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/></svg>");
}

.navbar {
    padding: 20px 30px
}

/*not so proud about those, need to find a better way to control the button color*/
.submitBtn {
    background: linear-gradient(to right,rgba(118,12,146, 0.4) 0%, rgba(0,92,177,0.4) 100%) !important;
}
.submitBtn:hover {
    background: linear-gradient(to right, rgba(118, 12, 146, 0.9) 0%, rgba(0, 92, 177, 1) 100%) !important;
}
