.navLink {
    cursor: pointer;
    color: white;
    font-weight: 400;
}

.navLink:hover, .navLink:active , .navLink:focus {
    border-bottom: 2px solid #ff6100;
}

.navItem {
    color: white;
}

.logo {
    cursor: pointer;
    width: 112px;
    height: 40px;
    display: block;
}

.isWhite {
    background: rgba(81, 39, 255, 0.9);
    transition: background 0.3s;
}

.newLink {
    position: relative;
}

.newTag {
    width: 39px;
    height: 27px;
    position: absolute;
    top: -3px;
    right: -10px;
}

@media (min-width: 577px) {
    .isNotHome {
        box-shadow: none;
    }
}

@media (max-width: 767px) {
    .isHome > .container {
        top: 0;
    }

    .navbarOpen {
        background: rgba(73, 12, 210, 0.8);
        /*width: fit-content;*/
        /*align-items: flex-start !important;*/
    }
}

@media (max-width: 576px) {
    .navbar:not(.isWhite) :global .navbar-collapse {
        margin-left: -20px;
        padding-left: 20px;
        margin-right: -20px;
        padding-right: 20px;
    }
}

:global .navbar-toggler-right {
    top: 20px;
}

:global .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,<svg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'><path stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/></svg>");
}

.navbar {
    padding: 25px 30px;
}

/*not so proud about those, need to find a better way to control the button color*/
.submitBtn {
    background: linear-gradient(to right,rgba(118,12,146, 0.4) 0%, rgba(0,92,177,0.4) 100%) !important;
}
.submitBtn:hover {
    background: linear-gradient(to right, rgba(118, 12, 146, 0.9) 0%, rgba(0, 92, 177, 1) 100%) !important;
}


