/* Example Styles for React Tags*/
.tags {
  position: relative;
}

/* Styles for the input */
.tagInput input.tagInputField {}

/* Styles for selected tags */
.selected span.tag {
  /*border: 1 px solid #000;*/
  /*background: #eee;*/
  display: inline-block;
  padding: 5px;
  margin: 0 10px 10px 0;
  border-radius: 2px;
  /*background: linear-gradient(to right,rgba(118,12,146, 0.2) 0%, rgba(0,92,177,0.2) 100%);*/

  color: #ffffff;
  font-family: 'PT Mono' !important;
  font-weight: bold !important;
  border: solid 2px #5127ff !important;
  box-shadow: -2px 2px #fff, -4px 4px #5127ff !important;
  background: right bottom linear-gradient(to right, #ff6100 50%, #896cff 50%) !important;
  background-size: 205% 100% !important;
  transition: all .5s ease-out !important;
}
.selected span.tag:first-child {
  margin-left: 0;
}
.selected a.remove {
  color: #000;
  margin-left: 5px;
  cursor: pointer;
}

/* Styles for suggestions */
.suggestions {
  position: absolute;
  z-index: 1;
  margin-top: 3px;
}
.suggestions ul {
  list-style-type: none;
  padding: 0;
  box-shadow: .05em .01em .5em rgba(0,0,0,.2);
  background: white;
  width: 320px;
}
.suggestions li {
  border-bottom: 1px solid #ddd;
  padding: 10px;
  margin: 0;
}
.suggestions li mark {
  text-decoration: underline;
  background: none;
  font-weight: 600;
  padding: 0;
}
.suggestions ul li.activeSuggestion {
  background: var(--indigo-light);
  color: white;
  cursor: pointer;
}
