.speakerImg {
    height: 160px;
    width: 160px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
}

.socialLinks {
    font-size: 18px;
}

.speakerShort a {
    color: inherit;
}

.socialLinks a {
    margin-right: 60px;
    flex: 0 0 auto;
}