.img {
  width: 240px;
  height:  240px;
  flex: 0 0 240px;
  background-size: cover;
  border-left: 4px solid var(--purple2);
  border-top: 4px solid var(--purple2);
  border-bottom: 4px solid var(--purple2);
}

.img:hover div  {
  display: block !important;
}

.body {
  width: 252px;
  margin-top: -20px;
}

@media (max-width: 990px) {
  .homepageImg {
    width: 250px;
    height: 250px;
  }

  .homepageBody {
    width: 305px;
  }
}

@media (max-width:767px) {
  .img, .homepageImg {
    width: 150px;
    height: 150px;
  }

  .body {
    width: 215px;
  }
}

@media (max-width:540px) {
  .img, .homepageImg {
    width: 150px;
    height: 150px;
  }

  .body {
    width: auto;
  }
}
