.img {
  width: 200px;
  height:  200px;
  background-size: cover;
  z-index:1;
  position: relative;
}

.img:hover div  {
  display: block !important;
}

.body {
  width: 252px;
  margin-top: -20px;
}

@media (max-width:767px) {
  .img {
    width: 150px;
    height: 150px;
  }

  .body {
    width: 180px;
  }
}