.speakerLinkWrap:hover,
.speakerLinkWrap:focus {
    text-decoration: none;
}

.speakerImg {
    width: 100px;
    height: 100px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left top;
    position: relative;
    overflow: hidden;
}

/*.speakerImg:before {*/
    /*content: '';*/
    /*position: absolute;*/
    /*top: -60px;*/
    /*bottom: -60px;*/
    /*border-left: 10px solid rgb(171,81,194);*/
    /*transform: rotate(45deg) translateX(0);*/
    /*left: -60px;*/
/*}*/

.speakerImg:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    mix-blend-mode: color;
    opacity: 1;
    transition: all 300ms;
}

.speakerImg:hover:after {
    opacity: 0;
}

.speaker.isFull .speakerImg {
    min-height: 160px;
    height: auto;
    width: 160px;
}

.speakerLinks {

}

.speaker .speakerLinksFull a {
    flex: 0 0 auto;
    margin-right: 60px;
}

.speaker .speakerLinks a {
    color: rgba(0,30,60,0.7);
}

/* colors */

.speaker.purple .speakerLinks {
    background: rgba(171,81,194, 0.7);
    color: white;
}

.speaker.purple .speakerImg:after {
    background: rgba(171,81,194, 0.7);
}

.speaker.purple .speakerInfo {
    background: rgb(171,81,194);
    color: white;
}

.speaker.purple .speakerLinksFull a {
    color: white;
}

.speaker.gold .speakerLinks {
    background: rgba(230,172,57, 0.7);
    color: white;
}

.speaker.gold .speakerImg:after {
    background: rgba(230,172,57, 0.7);
}

.speaker.gold .speakerInfo {
    background: rgba(230,172,57, 1);
    color: white;
}

.speaker.gold .speakerLinksFull a {
    color: white;
}

.speaker.cyan .speakerLinks {
    background: rgba(0,191,191, 0.5);
    color: white;
}

.speaker.cyan .speakerImg:after {
    background: rgba(0,191,191, 0.5);
}

.speaker.cyan .speakerInfo {
    background: rgba(0,191,191, 1);
    color: white;
}

.speaker.cyan .speakerLinksFull a {
    color: white;
}


.speaker.blue .speakerLinks {
    background: rgba(153,216,255, 0.7);
    color: #333;
}

.speaker.blue .speakerImg:after {
    background: rgba(153,216,255, 0.7);
}

.speaker.blue .speakerInfo {
    background: rgba(153,216,255, 1);
    color: #333;
}

.speaker.blue .speakerLinksFull a {
    color: #333;
}


.speaker.pink .speakerLinks {
    background: rgba(255,204,229, 0.7);
    color: #333;
}

.speaker.pink .speakerImg:after {
    background: rgba(255,204,229, 0.7);
}

.speaker.pink .speakerInfo {
    background: rgba(255,204,229, 1);
    color: #333;
}

.speaker.pink .speakerLinksFull a {
    color: #333;
}


.speaker.yellow .speakerLinks {
    background: rgba(255,246,153, 0.5);
    color: #333;
}

.speaker.yellow .speakerImg:after {
    background: rgba(255,246,153, 0.5);
}

.speaker.yellow .speakerInfo {
    background: rgba(255,246,153, 1);
    color: #333;
}

.speaker.yellow .speakerLinksFull a {
    color: #333;
}


.speaker.green .speakerLinks {
    background: rgba(102,187,106, 0.7);
    color: white;
}

.speaker.green .speakerImg:after {
    background: rgba(102,187,106, 0.7);
}

.speaker.green .speakerInfo {
    background: rgba(102,187,106, 1);
    color: white;
}

.speaker.green .speakerLinksFull a {
    color: white;
}


.speaker.orange .speakerLinks {
    background: rgba(239,108,0, 0.7);
    color: white;
}

.speaker.orange .speakerImg:after {
    background: rgba(239,108,0, 0.7);
}

.speaker.orange .speakerInfo {
    background: rgba(239,108,0, 1);
    color: white;
}

.speaker.orange .speakerLinksFull a {
    color: white;
}
