.sponsorImg {
    max-height: 80px;
    max-width: 100%;
    transition: opacity 150ms;
}

.premiumCover {
    background-size: contain;
    padding: 20px 180px;
}

.diamond {
    width: 85px;
    height: 85px;
    margin-right: -50px;
}

.circle {
    width: 100px;
    height: 100px;
    margin-right: -50px;
    fill: #ff6100;
}
.mb10 {
    margin-bottom: -10px
}

.hr {
    flex-grow: 1;
    height: 2px;
    align-self: center;
    margin-left: 10px;
}

.sponsor {
    min-width: 240px;
    height: 240px;
    /*display: inline-block;*/
}

.communitySponsorText {
    border-width: 4px 4px 4px 0;
    border-style: solid;
    width: 0;
    flex-grow: 1;
}

.communityText {
    word-wrap: break-word;
}
.premiumSponsor {
    align-items: baseline;
    flex-direction: column;
    margin: 20px;
}
.premiumSponsorsWrap {
    justify-content: space-evenly;
}

.halfColoredDiv {
    margin-top: -75px;
}

.socialWrapper {
    min-height: 0.85em;
}

.carouselControl{
    opacity: 0.2;
}
/*@media (min-width:991px) {*/
    /*.sponsor {*/
        /*width: calc(100% - 20px);*/
        /*display: inline-block;*/
    /*}*/
/*}*/
