.teamImg {
    height: 120px;
    width: 120px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
}

.teamMember:hover .teamImg {
    filter: grayscale(0);
}

.modalHeader {
    border-bottom: none;
}

@media (min-width: 768px) {
    .teamImg {
        filter: grayscale(1);
        transition: all 0.25s;
    }

    .teamMember:hover .teamImg {
        filter: grayscale(0);
    }
}