ol.progtrckr {
    margin: 3rem auto 0 auto;
    padding-bottom: 2.2rem;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
  }
  ol.progtrckr li { // the general element containing ::after with the bolt, <em> with step number, <span> with step title and :: after
    display: inline-block;
    text-align: center;
    line-height: 4.5rem;
    padding: 0 0.7rem;
    cursor: pointer;
    width: 16.66%;
  }
  //<span> with step title
  ol.progtrckr  li span {
    display: none;
    min-width: 100%;
    max-width: 100%;
    padding: 0 0.5rem;
    margin: 0 auto;
    text-align: center;
    line-height: 2;
  }
  ol.progtrckr li.progtrckr-todo span {
    position: relative;
    top: 0.25rem;
  }
  @media (min-width: 768px) {
    ol.progtrckr li span {
      display: inline-block;
    }
  }

//<em> with step number
  .progtrckr em {
    display: inline-block;
    font-weight: 700;
    padding-left: 1rem;
  }
  @media (min-width: 768px) {
    .progtrckr em {
      display: none;
    }
  }
  .progtrckr-todo em{
    position: relative;
    top: 0.3rem;
  }
  @media (min-width: 480px){
    .progtrckr-todo em{
      top: -0.1rem;
    } 
  }
  
  ol.progtrckr li.progtrckr-todo {
    color: silver;
    border-bottom: 4px solid silver; //the line of next steps
  }
  ol.progtrckr li.progtrckr-doing {
    color: black;
    border-bottom: 4px solid #9e87ff;  //the line of current step
  }
  ol.progtrckr li.progtrckr-done {
    color: black;
    border-bottom: 4px solid #9e87ff;  //the line of done steps
  }
  ol.progtrckr li:after {
    content: "\00a0\00a0";
  }

//::after with the bolt
  ol.progtrckr li:after { 
    position: relative;
    float: left;
    left: 50%;
    align-self: center;
  }
  ol.progtrckr li.progtrckr-done:after {   //::after with the bolt (DONE step)
    content: "\2713";
    top: 0.7rem;
    color: white;
    background-color: #9e87ff;
    width: 1.2em;
    line-height: 1.2em;
    border-radius: 1.2em;
  }
  ol.progtrckr li.progtrckr-done:hover:after {
    color: #5127ff;
  }
  ol.progtrckr li.progtrckr-doing:after {  //::after with the bolt (DOING step)
    content: "\2022";
    position: relative;
    top: 0.7rem;
    color: white;
    background-color: #9e87ff;
    width: 1.2em;
    line-height: 1.2em;
    border-radius: 1.2em;
  }
  ol.progtrckr li.progtrckr-doing:hover:after { //::after with the bolt (current step when hovered)
    color: #5127ff;
  }
  ol.progtrckr li.progtrckr-todo:after { //::after with the bolt (TO DO step)
    position: relative;
    top: 0.9rem;
    content: "\3007"; //See if this is the right symbol and how to make it heavier
    color: silver;
    background-color: white;
    width: 1.2em;
    line-height: 1.4em;
    align-self: flex-end;
    font-weight: 900;
  }
  ol.progtrckr li.progtrckr-todo:hover:after {  //::after with the bolt when hovered
    color: #5127ff;
  }
  
@media (min-width: 480px) {
  ol.progtrckr li.progtrckr-done:after,
  ol.progtrckr li.progtrckr-doing:after,
  ol.progtrckr li.progtrckr-todo:after {
    top: 4rem;
    left: 2rem;
  }
}
@media (min-width: 768px) {
  ol.progtrckr li.progtrckr-done:after{
    top: 0.7rem;
    left: 3rem;
  } 
  ol.progtrckr li.progtrckr-doing:after{
    top: 0.7rem;
    left: 3rem;
  } 
  ol.progtrckr li.progtrckr-todo:after {
    top: 0.9rem;
    left: 3rem;
  } 
}
@media (min-width: 992px) {
  ol.progtrckr li.progtrckr-done:after {
    left: 3.5rem;
  }
  ol.progtrckr li.progtrckr-doing:after {
    top: 0.7rem;
    left: 3.5rem;
  }

  ol.progtrckr li.progtrckr-todo:after{
    top: 0.9rem;
    left: 3.5rem;
  }
}
@media (min-width: 1200px) {
  ol.progtrckr li.progtrckr-done:after,
  ol.progtrckr li.progtrckr-doing:after {
    top: 0.7rem;
    left: 4.7rem;
  }
  ol.progtrckr li.progtrckr-todo:after {
    top: 0.9rem;
    left: 4.7rem;
  }
}
@media (min-width: 1600px) {
  ol.progtrckr li.progtrckr-done:after,
  ol.progtrckr li.progtrckr-doing:after,
  ol.progtrckr li.progtrckr-todo:after {
    left: 5.7rem;
  }
}

//Navigation buttons

.footer-buttons {
  display: flex;
  justify-content: space-between;
}

//This is the selector for the "PREVIUS" button (weird but true)
.btn-next{
  width: max-content;
  min-width: 280px;
  height: 40px;
  margin: 0 10px 25px 10px;
  padding: 10px 25px;
  letter-spacing: 1px;
  color: rgb(255, 255, 255);

  background: left bottom linear-gradient(to left, rgb(255, 97, 0) 50%, rgb(137, 108, 255) 50%);  
  background-size: 205% 100%;
  border: solid 2px rgb(200, 200, 200);
  border-radius: 0;
  box-shadow: -2px 2px rgb(81, 39, 255), -4px 4px rgb(200, 200, 200);

  font-size: 16px;
  font-family: "PT Mono";
  font-weight: 600;
  text-align: center;
  text-decoration: none;

  transition: all .5s ease-out;

  &:hover{
    background-position: right bottom;
    text-decoration: none;
    color: rgb(255, 255, 255);
  }
}

//This is the selector for the "NEXT" button (weird but true)
.btn-prev{
  width: max-content;
  min-width: 280px;
  height: 40px;
  margin: 0 10px 25px 10px;
  padding: 10px 25px;
  letter-spacing: 1px;
  color: rgb(255, 255, 255);

 background: right bottom linear-gradient(to right, rgb(255, 97, 0) 50%, rgb(137, 108, 255) 50%);  
  background-size: 205% 100%;
  border: solid 2px rgb(200, 200, 200);
  border-radius: 0;
  box-shadow: -2px 2px rgb(81, 39, 255), -4px 4px rgb(200, 200, 200);

  font-size: 16px;
  font-family: "PT Mono";
  font-weight: 600;
  text-align: center;
  text-decoration: none;

  transition: all .5s ease-out;

  &:hover{
    background-position: left bottom;
    text-decoration: none;
    color: rgb(255, 255, 255);
  }
}