/* Styles for selected tags */
.selected span.tag {
  display: inline-block;
  padding: 5px;
  margin: 0 10px 10px 0;
  border-radius: 2px;

  color: #ffffff;
  font-family: 'PT Mono' !important;
  font-weight: bold !important;
  border: solid 2px #5127ff !important;
  box-shadow: -2px 2px #fff, -4px 4px #5127ff !important;
  background: right bottom linear-gradient(to right, #ff6100 50%, #896cff 50%) !important;
  background-size: 205% 100% !important;
  transition: all .5s ease-out !important;
}

.selected a.remove {
  color: #000;
  margin-left: 5px;
  cursor: pointer;
}
